app/controllers/*.swp
app/models/*.swp
app/views/*/*.swp
app/helpers/*.swp
lib/*.swp
spec/*.swp
spec/models/*.swp
spec/controllers/*.swp
spec/fixtures/*.swp
spec/helpers/*.swp
db/schema.rb
config/*.swp
tmp/*
log/*
coverage/*
