<h1>Welcome to GameBlip</h1>

<p> Q: What's GameBlip? </p>
<p> A: GameBlip is a console gaming network where you can keep you friends and followers updated with information about your console identity. </p>

<%= link_to "Sign up", "/signup" %> or <%= link_to "Login", "/login" %>
