<div id="inline">
Ever wanted to know what other gamers are up to? Now you can.

<div class="xbox_avatars">
  <%= image_tag "xbox360/jpgnotgif.jpg" %>
  <%= image_tag "xbox360/ijengar.jpg" %>
  <%= image_tag "xbox360/eosjack.jpg" %>
  <%= link_to "Find any Xbox360 gamertag", xbox_console_users_path %>
</div>
</div>
