<h1>New Xbox360 gamertag </h1> 

<% form_for(@xbox_console_user) do |f| %>
  <%= f.error_messages %>
  <p>Gamertag: <%= f.text_field :gamertag %> </p>
  <p>
    <%= f.submit 'Add' %>
  </p>
<% end %>

<%= link_to 'Back', xbox_console_users_path %>
