<h1>New Xbox360 gamertag </h1> 

<%= error_messages_for :xbox_console_user, :header_message => "We couldn't add the gamertag", :message => "There were problems" %>

<% form_tag xbox_console_users_path do %>
  <p>Gamertag: <%= text_field :xbox_console_user, :gamertag %> </p>

  <p> <%= image_submit_tag("add_button.jpg") %> <%= link_to(image_tag("back_button.jpg"), user_path(current_user)) %></p>
<% end %>


