<h1>New Xbox360 gamertag </h1> 

<%= error_messages_for :xbox_console_user, :header_message => "We couldn't add the gamertag", :message => "There were problems" %>

<% form_for(@xbox_console_user) do |f| %>
  <p>Gamertag: <%= f.text_field :gamertag %> </p>
  <p>
    <%= f.submit 'Add' %>
  </p>
<% end %>

<%= link_to 'Back', xbox_console_users_path %>
